<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    {% load static %}
    <link href="{% static 'css/counters.css' %}" rel="stylesheet"/>
</head>
<body>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {{ form.as_p }}
  <button type="submit">Upload</button>
</form>

<h3 align="center">Библиотека</h3>
    <nav class="top-menu">
      <ul class="menu-main">
       <li><a href="/home">В начало</a></li>
      </ul>
    </nav>
<table class="u-full-width" border="1" cellpadding="10" align="center">
            <tbody>
            {% for b in books %}
                <tr>
                    <td>{{ b.title }}</td>
                    <td><img src = "{{ b.cover.url }}" alt="{{ b.title }}" width="60"></td>
                    <td><a href="{{ b.book.url }}">Загрузить</a></td>
                    <td><a href="{% url 'delete_book_confirm' b.id %}">Удалить</a></td>
                </tr>
            {% endfor %}
            </tbody>
 </table>


</body>
</html>
