<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Документы</title>
    {% load static %}
    <link href="{% static 'css/counters.css' %}" rel="stylesheet"/>
</head>
<body>
<h3 align="center">Документы</h3>
    <nav class="top-menu">
      <ul class="menu-main">
        <li><a href="/documents_home" class="current">Домашние</a></li>
        <li><a href="/documents_german">Герман</a></li>
        <li><a href="/documents_irina">Ирина</a></li>
        <li><a href="/documents_mark">Марк</a></li>
        <li><a href="/home">В начало</a></li>
      </ul>
    </nav>
</body>
</html>