<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Документы "Ирина"</title>
    {% load static %}
    <link href="{% static 'css/counters.css' %}" rel="stylesheet"/>
</head>
<body>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {{ form.as_p }}
  <button type="submit">Upload</button>
</form>

{% if img_obj %}
<small>Успешно загружено: {{img_obj.title}}</small>

{% endif %}
<h3 align="center">Документы "Ирина"</h3>
    <nav class="top-menu">
      <ul class="menu-main">
        <li><a href="/documents" >Дом</a></li>
        <li><a href="/documents_german" >Герман</a></li>
        <li><a href="/documents_irina" class="current">Ирина</a></li>
        <li><a href="/documents_mark">Марк</a></li>
        <li><a href="/">В начало</a></li>
      </ul>
    </nav>
 <table class="u-full-width" border="1" cellpadding="10" align="center">
            <tbody>
            {% for image in owner %}
                <tr>
                    <td>{{ image.title }}</td>
                    <td><img src = "{{ image.document.url }}" alt="{{ image.title }}" width="100"></td>
                    <td><a href="{{ image.id }}">Открыть</a></td>
                    <td><a href="{% url 'delete_irina' image.id %}">Удалить</a></td>
                </tr>
            {% endfor %}
            </tbody>
 </table>
</body>
</html>