<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Ввод показаний счетчиков</title>
</head>
<body>
    <div class="container mt-5">

        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}  <!-- CSRF token for security -->
            {% if messages %}
                <ul class="list-unstyled">
                {% for message in messages %}
                <li>{% if message.tags %} class="text-danger"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <h1 style="text-align: center;"><span style="color: green;">Cozi Corner</span></h1>
            <h3>Ввод показаний счетчиков</h3>
            <hr>

            <!-- Year input field -->
            <div class="form-group">
                <label for="year" class="form-label">Год</label>
                <input type="text" name="year" class="form-control" id="year" placeholder="Введите год" required>
            </div>

            <!-- Month input field -->
            <div class="form-group">
                <label for="month" class="form-label">Месяц</label>
                <input type="text" name="month" class="form-control" id="month" placeholder="Введите месяц" required>
            </div>

            <!-- Elec_day input field -->
            <div class="form-group">
                <label for="elec_day" class="form-label">Электричество День</label>
                <input type="number" class="form-control" name="elec_day" id="elec_day" placeholder="Показания День" required>
            </div>

            <!-- Elec_night input field -->
            <div class="form-group">
                <label for="elec_night" class="form-label">Электричество Ночь</label>
                <input type="number" class="form-control" name="elec_night" id="elec_night" placeholder="Показания Ночь" required>
            </div>

            <!-- Water input field -->
            <div class="form-group">
                <label for="water" class="form-label">Вода</label>
                <input type="number" class="form-control" name="water" id="water" placeholder="Холодная вода" required>
            </div>

            <!-- Gas input field -->
            <div class="form-group">
                <label for="gas">Газ</label>
                <input type="number" class="form-control" name="gas" id="gas" placeholder="Газ" required>
            </div>
<!--            <div class="form-group">-->
<!--                <label for="gas">Оплата</label>-->
<!--                <input type="number" class="form-control" name="pay_date" id="pay_date" placeholder="Оплата">-->
<!--            </div>-->

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</body>
</html>