<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Показания счётчиков</title>
    {% load static %}
    <link href="{% static 'css/list_counters.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/counters.css' %}" rel="stylesheet"/>
</head>
<body>
    <nav class="top-menu">
      <ul class="menu-main">
        <li><a href="/input_date" class="current">Внести показания</a></li>
        <li><a href="/list_counters">Вывести отчет</a></li>
        <li><a href="/home">В начало</a></li>
      </ul>
    </nav>
        <table class="table">
            <thead>
                <tr>
                    <th>Год</th>
                    <th>Месяц</th>
                    <th>Эл./день</th>
                    <th>Расход</th>
                    <th>Эл./ночь</th>
                    <th>Расход</th>
                    <th>Вода</th>
                    <th>Расход</th>
                    <th>Газ</th>
                    <th>Расход</th>
                </tr>
            </thead>
	        <tbody>
                {% for coun in counters %}
                <tr>
                    <td>{{ coun.year }}</td>
                    <td>{{ coun.month }}</td>
                    <td>{{ coun.elec_day }}</td>
                    <td class="out">{{ coun.outgo_elec_day }}</td>
                    <td>{{ coun.elec_night }}</td>
                    <td class="out">{{ coun.outgo_elec_night }}</td>
                    <td>{{ coun.water }}</td>
                    <td class="out">{{ coun.outgo_water }}</td>
                    <td>{{ coun.gas }}</td>
                    <td class="out">{{ coun.outgo_gas }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
</body>
</html>